<?xml version="1.0" encoding="euc-kr" ?> 
<Config>
<Drive>
	<dir>D:\ImgDir\TargetDir\</dir> 
	<nas_dir>\\mynas.flux.com\image\TargetDir\</nas_dir>
 	<log>D:\comlog\UPF\</log>
	<ExceptDir>artisttestx;</ExceptDir>
	<WhiteList>gif;jpg;jpeg;pjpeg;png;JPG;</WhiteList>
	<BlackList>asp;vbs;php;jsp;cer;cdx;asa;htr;</BlackList>
	<DebugYN>N</DebugYN>
</Drive>
</Config>